{% extends "pages/_base_page.html" %}

{% block title %}Contact Us | Football Hub{% endblock %}
{% block meta_description %}Get in touch with the Football Hub team with questions, suggestions or story tips.{% endblock %}

{% block page_title %}Contact Us{% endblock %}

{% block page_content %}
<p>
    Have a question, suggestion, or story tip? We'd love to hear from you.
    This page is a placeholder while the site is in development.
</p>

<p>
    Email us at
    <a href="mailto:support@footballhub.example">support@footballhub.example</a>
    and we'll get back to you as soon as we can.
</p>
{% endblock %}
