{% extends "pages/_base_page.html" %}

{% block page_title %}Privacy Policy{% endblock %}

{% block page_content %}
<p>
    This Privacy Policy explains how Football Hub collects, uses, and protects
    your information when you use our site. This page is a placeholder while
    the site is in development.
</p>

<h5>Information We Collect</h5>
<p>
    We may collect basic account information (such as your name and email
    address) and usage data to help us improve the platform.
</p>

<h5>How We Use Your Information</h5>
<p>
    Information is used to operate and improve Football Hub, communicate
    with you about your account, and keep the platform secure.
</p>

<h5>Contact</h5>
<p>
    Questions about this policy can be sent via our
    <a href="{% url 'contact_us' %}">Contact Us</a> page.
</p>
{% endblock %}
