{% extends "pages/_base_page.html" %}

{% block page_title %}Terms of Use{% endblock %}

{% block page_content %}
<p>
    These Terms of Use govern your access to and use of Football Hub. This
    page is a placeholder while the site is in development.
</p>

<h5>Acceptable Use</h5>
<p>
    You agree to use Football Hub responsibly and not to post content that
    is unlawful, abusive, or infringes on the rights of others.
</p>

<h5>Accounts</h5>
<p>
    You are responsible for maintaining the security of your account and
    for all activity that occurs under it.
</p>

<h5>Changes to These Terms</h5>
<p>
    We may update these Terms from time to time. Continued use of the site
    means you accept the updated Terms.
</p>
{% endblock %}
