{% extends 'base.html' %}

{% block title %}Posts by {{ author.username }} | Football Hub{% endblock %}
{% block meta_description %}Browse football articles written by {{ author.username }} on Football Hub.{% endblock %}

{% block content %}

{% include "components/back_button.html" %}

<h1>{{ author.username }}</h1>

{% for post in posts %}
<div class="card mb-3">
    <div class="card-body">
        <h4>{{ post.title }}</h4>
        <a href="{{ post.get_absolute_url }}" class="btn btn-primary">
            Read More
        </a>
    </div>
</div>
{% endfor %}

<hr>

<h3>Popular Posts</h3>

<ul>
    {% for post in popular_posts %}
        <li>
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
            ({{ post.views }} views)
        </li>
    {% endfor %}
</ul>

{% endblock %}
