{% extends 'base.html' %}
{% load static %}

{% block content %}

<script src="{% static 'js/slider.js' %}"></script>

<div id="swap-container" class="container mt-4">
    
    {% include "components/hero.html" %}
    {% include "components/slider.html" %}
    {% include "components/bullet_links.html" %}
    {% include "components/match_block.html" %}
    {% include "components/featured_article.html" %}
    {% include "components/article_grid.html" %}

    <div class="row">
        {% include "components/news_feed.html" %}
        {% include "components/sidebar.html" %}
    </div>

</div>

{% endblock %}
